
html,body {
  margin: 0;
  padding: 0;
  background: lightgray;
  font-family: 'Montserrat', sans-serif;
}

.heading {
  color: blue;
}
img {
}

a:link {
	color:red;
	text-decoration: none;
}

a:visited{
	color: darkgreen;
	text-decoration: none;
}

a:hover{
	color:blue;
	text-decoration: none;
}

a:active{
	color: orange;
	text-decoration: none;
}
